* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span,
body {
  margin: 0;
  padding: 0px;
}

a {
  text-decoration: none;
}
body,
html {
  // height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.conteiner {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 1042px;
}
