header {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  background: #ffffff;
  left: 0;
  z-index: 999;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1550px;
  margin: 0 auto;
}

.header-logo {
  margin: 20px 0;
}

.header-logo p {
  margin: 0;
  font-size: 11px;
  line-height: 90%;
  text-transform: capitalize;
  color: #4aa148;
}

.header-logo img {
  margin: 5px 0;
}

.header-menu {
}

.header-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.header-menu ul li {
  list-style-type: none;
  margin: 0 20px;
  position: relative;
}

.header-menu ul li .sub-menu {
  flex-direction: column;
  position: absolute;
  background: #ffffff;
  left: -30px;
  padding: 30px;
  display: none;
}

.header-menu ul li .sub-menu li {
  margin: 0;
  margin-bottom: 10px;
}

.header-menu ul li .sub-menu li:last-child {
  margin-bottom: 0;
}

.header-menu ul li a {
  font-weight: bold;
  font-size: 17px;
  line-height: 0px;
  text-transform: uppercase;
  color: #000000;
}

.header-menu ul .has-menu:after {
  content: " ";
  display: block;
  background-image: url(../img/icons/dropdown.svg);
  height: 6px;
  width: 6px;
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  right: -10px;
}

.header-menu ul .has-menu hr {
  background: #4aa148;
  opacity: 0;
  transition: 0.1s;
}

.header-menu ul .has-menu:hover .sub-menu {
  display: flex;
}

.header-menu ul .has-menu:hover hr {
  opacity: 1;
  transition: 0.1s;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts .left {
}

.header-contacts .left p {
  margin: 0;
}

.header-contacts .left p a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8c8c8c;
}

.header-contacts .left p a svg {
  margin-right: 10px;
}

.header-contacts .right {
  margin-left: 40px;
}

.header-contacts .right button {
  background: -webkit-linear-gradient(right, #4aa148 0%, #7ec669 100%);
  background: -o-linear-gradient(right, #4aa148 0%, #7ec669 100%);
  background: linear-gradient(to left, #4aa148 0%, #7ec669 100%);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 50px;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Calibri;
  padding-top: 100px;
}

a {
  text-decoration: none !important;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.btn-primary {
  background: linear-gradient(270deg, #ff5632 0%, #ef441f 100%);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 35px;
  width: fit-content;
  transition: 0.3s;
}

.btn-success {
  background: -webkit-linear-gradient(right, #4aa148 0%, #7ec669 100%);
  background: -o-linear-gradient(right, #4aa148 0%, #7ec669 100%);
  background: linear-gradient(to left, #4aa148 0%, #7ec669 100%);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 50px;
  transition: 0.3s;
}

.btn-success:hover,
.btn-primary:hover {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5) !important;
  transition: 0.3s;
}

h2 {
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

hr {
  background: #000000;
  width: 46px;
  height: 3px;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #8c8c8c;
}
/*footer*/
footer .container:first-child {
  display: flex;
  padding-top: 66px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e1e1e1;
  max-width: 1550px;
  margin: 0 auto;
}

footer .container .coll {
  padding: 0 15px;
}

footer .container .coll:first-child {
  width: 25%;
  padding-left: 0;
}

footer .container .coll:nth-child(2) {
  width: 19%;
}

footer .container .coll:nth-child(3) {
  width: 18%;
}

footer .container .coll:nth-child(4) {
  width: 18%;
}

footer .container .coll:nth-child(5) {
  width: 10%;
}

footer .container .coll h5 {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}

footer .container .coll ul {
  padding: 0;
  margin: 0;
}

footer .container .coll ul li {
  list-style-type: none;
}

footer .container .coll ul li a {
  font-size: 14px;
  line-height: 30px;
  text-decoration-line: underline !important;
  color: #8c8c8c;
}

footer .container .coll:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0;
  width: 10%;
}

footer .container .coll:last-child img {
}

footer .header-logo {
  margin: 0;
}

footer .container .coll:first-child h5 {
  margin-top: 30px;
}

footer .container .coll:first-child a {
  font-size: 13px;
  line-height: 30px;
  color: #8c8c8c;
  transition: 0.3s;
}

footer .container .coll:first-child a svg {
  margin-right: 5px;
}

footer .container .coll:first-child a:hover,
.header-contacts .left p a:hover,
footer .container .coll ul li a:hover,
.home-4 .items .item:hover p,
.header-menu ul li a:hover {
  color: #4aa148;
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1550px;
  margin: 0 auto;
}

.footer-bottom p {
  font-size: 11px;
  line-height: 13px;
  color: #8c8c8c;
  margin: 0;
}

.news-container {
  margin: 0 -10px;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

.news-wrapper .container {
  position: relative;
}

.news-date {
  position: absolute;
  top: 20px;
  right: 15px;
}

.news-date ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.news-date ul li {
  list-style-type: none;
}

.news-date ul a {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  text-decoration: underline !important;
  color: #a5a5a4;
  margin-left: 40px;
}

.news-date ul .active a {
  text-decoration: none !important;
  color: #000000;
}

.news-wrapper .news {
  position: relative;
  width: calc(50% - 20px);
  overflow: hidden;
  margin: 10px;
}

.news-wrapper .news:before {
  content: "";
  display: block;
  padding-top: 30%;
}

.news-wrapper .news span {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.pagination {
  margin-top: 80px;
  margin-bottom: 40px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination ul li {
  list-style-type: none;
  background: #f6f6f6;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
  transition: 0.3s;
}

.pagination ul li a {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #4aa148;
  transition: 0.3s;
}

.pagination ul li:hover {
  background: #4aa148;
  transition: 0.3s;
}

.pagination ul li:hover a {
  color: #f6f6f6;
  transition: 0.3s;
}

.resolutions-container .news:before {
  padding-top: 60% !important;
}

.resolutions-container .news {
  position: relative;
  width: calc(25% - 20px) !important;
  overflow: hidden;
  margin: 10px;
}

.news-wrapper .news:hover .slide-content p:last-child {
  margin-top: 30px;
}
